/** GLOBAL CSS **/

.bottom-spacer {
    margin-bottom: 15px;
}

body{
    font-family: Helvetica, Arial, Sans-Serif;
}

.cursor-pointer{
    cursor: pointer;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.top-spacer{
    margin-top: 25px !important;
}

.top-spacer-soft {
    margin-top: 15px;
}


/** LOGIN **/

/** LOGIN MEDIA QUERIES **/

@media screen and (max-width: 518px) {
    h3.app-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 575px) {
    div.login-form {
        margin-left: 55px;
    }

}

@media screen and (min-width: 730px) and (max-width: 917px) {
    div.login-form {
        margin-left: 100px;
    }
}

.login-panel-width {
    max-width: 250px;
}

.login-weight-scale {
    max-width: 600px;
}

.registerForm h4 {
    text-align: left;
}

.login-panel{
    background-color: #203042;
    margin: -20px;
    color: grey;
    font-family: 'Scope One', serif;
    opacity: 1;
}

.app-title{
    font-family: 'Lobster', cursive ;
    font-size: 4em;
    text-align: center;
}

.loading-icon{
    height: 50px;
}

.registerForm{
    transition: all ease-in 1s;
    opacity: 1;
    text-align: center;
}

.registerForm.ng-hide{
    opacity: 0;
}

.no-competition-background {
    background-image: url('../images/background.jpg');
}

/** Landing CSS **/

.landing-panel {
    min-height: 250px;
}

.user-thumbnail {
    height: 85px;
    width: 100px;
    border: solid 1px #ddd;
    padding: 4px;
    background-color: #203042;
    color: white;
    margin: 10px;
}

.truncate{
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.landing-center-btn {
    position: relative;
    top: 100px;
    padding-left: 36%;
}

.mobile-title-text {
    font-size: 1.5em !important;
}

/** navbar CSS **/

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.mobile-navbar-margin {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -1px
}

.sidebar-menu {
    max-width: 325px;
    padding-left: 0;
    margin-right: 20px;
}



.navbar-default {
    background-color: #203042;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #505b79;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.sidebar-profile-panel {
    overflow: hidden;
}

.navbar-collapse {
    color: white;
}

.navbar-brand.app-title {
    color: white;
    font-size: 2em;
}

.btn-fit-to-form {
    max-width: 60%;
}

.login-input-width {
    max-width: 60%;
}

.box-shadow {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.login-outer-panel {
    background-color: #203E71;
}

.login-clock-font {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: green;
}

.panel-rounded {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.outer-scale {
    height: 350px;
    border: 1px solid grey;
    border-radius: 25%;
    background-color: lightgrey;
    width: 40%;
}

.register-button {
    width: 40%;
}


.scale-text {
    position: relative;
    top: 10%;
    width: 60%;
    height: 35%;
    background-color: white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

.menu-btn{
    position: fixed;
    top: 5%;
    left: 1%
}



.profile-section{
    position: fixed;
    transition: all ease-in 1s;
    top: 0;
    bottom: 0;
    background-color: #203042;
    padding: 20px;
}

.no-margin {
    margin: 0;
}

.profile-section h4, .profile-section h3 {
    color: white;
}

.profile-section.ng-hide{
    top: 1000px;
}

.sidebar-home{
    position: relative;
    top: 0;
    transition: all .5s ease-in;
    overflow: hidden;
    overflow-y: auto;
}

.sidebar-home.ng-hide{
    top: -1000px;
}

.user-avatar{
    border-radius: 50%;
}

.logout-btn{
    background-color: black;
    color: white;
}

.logout-btn:hover{
    background-color: #203042;
    color: white;
}

.logout-btn:active{
    background-color: #122b40;
    color: white;
}

.browse-user-panel {
    max-height: 250px;
    overflow-y: scroll;
}

.participant-row span {
    font-size: 1.25em;
}

.weighin-panel {
    height: 200px;
    width: 250px;
    border: 1px #CCCCCC solid;
    background-color: #203042;
    color: white;
}

.request-badge {
    background-color:red;
    position:relative;
    left: -10px;
    bottom:-7px;
}

.request-dropdown.dropdown-menu {
    width: 275px;
    font-family: Helvetica, Arial, Sans-Serif;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.join-competition-row {
    margin: 5px;
    padding-top: 10px;
    background-color: #CCCCCC;
    border-radius: 5px;
}

.join-competition-row .btn {
    position: relative;
    top: -5px;
}



