<div ng-repeat="comp in competitions" class="cursor-pointer" ng-click="openCompetitionView(comp)">
    <div class="row">
        <div class="pull-left">
            <h3>{{ comp.title }}</h3>
        </div>
        <div class="pull-right">
            <h3>End: {{ comp.end_date | date }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-10">
            <label>Participants: </label>
            <div ng-repeat="user in comp.participants">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <user-thumbnail user="user"></user-thumbnail>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <label>Owner: </label>
            <user-thumbnail user="comp.creator"></user-thumbnail>
        </div>
        <!-- /.col-sm-2 -->
    </div>
    <hr ng-if="!$last">
</div>
