<h1>{{ competition.title }}</h1>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Weight Loss Progress</h4>
                <p>No data to show, please start your first weigh in to see results</p>
            </div>
        </div>
        <div class="alert"
             ng-show="competitionalert.message"
             ng-class="{'alert-danger': competitionalert.error, 'alert-info': !competitionalert.error}">
            {{ competitionalert.message }}
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-body">
                <h4>Leaderboard</h4>
                <p>No data to show, please start your first weigh in to see results</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-md-1">
        <a ui-sref="app.landing"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    </div>
    <div class="col-xs-10 col-md-offset-7 col-md-4">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        uib-tooltip="{{ !isOwner && !competition.weigh_ins.length
                            ? 'Please wait for the owner to start a weighin to view or update your weight' : null}}"
                        data-toggle="dropdown" aria-haspopup="true">
                    Weigh-In <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header" ng-show="competition.weigh_ins.length > 0">
                        View Past Weighin
                        <span ng-show="!isOwner">or update your weight</span>
                    </li>
                    <li ng-repeat="weighin in competition.weigh_ins" ng-click="viewWeighIn(weighin, competition.participants, competition.creator)">
                        <a href>Weighin: {{ weighin.weigh_in_date | date}}</a>
                    </li>
                    <li ng-show="isOwner" class="dropdown-header text-success">Start a new weigh in</li>
                    <li ng-show="isOwner" ng-click="openWeighIn(competition.participants, competition.creator)">
                        <a href class="btn btn-success">Start</a>
                    </li>
                </ul>
            </div>
            <div class="btn btn-danger">End</div>
        </div>
    </div>
</div>
