<div class="row" ng-show="approved === null">
    <div class="col-xs-9 col-md-9">{{ request.requester.fullName }} wants to join your {{request.competition.title }} competition.</div>
    <div class="col-xs-1 col-md-1">
        <span class="glyphicon glyphicon-ok text-success" ng-click="approve(true)"></span>
    </div>
    <div class="col-xs-1 col-md-1">
        <span class="glyphicon glyphicon-remove text-danger" ng-click="approve(false)"></span>
    </div>
</div>
<div class="row" ng-show="approved !== null">
    <div class="col-xs-12">
        {{ approved ? "You have approved " + request.requester.fullName  + "'s request"
        : "You have declined " + request.requester.fullName  + "'s request"}}
    </div>
</div>
