<div class="row join-competition-row">
    <div class="col-sm-3">{{ joinable.title }}</div>
    <div class="col-sm-3">End Date: {{ joinable.end_date | date}}</div>
    <div class="col-sm-offset-3 col-sm-3">
        <button class="btn btn-default" ng-show="!requestsent" ng-click="sendRequest()">
            <span class="glyphicon glyphicon-envelope"></span>
            Request to Join
        </button>
        <span ng-show="requestsent && !alert">Request to join sent...</span>
        <div class="alert" ng-show="alert" ng-class="{'alert-danger': !alert.success}">{{ alert.message }}</div>
    </div>
</div>