<div class="modal-header">
    <h3>Join Competition</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <p>Search a competition to join. A request will be sent to the owner for approval. Users are unable to join a competition once the first weighin has happened</p>
        </div>
    </div>
    <div class="row bottom-spacer">
        <div class="col-sm-4 text-right">
            <h5 class="bold">Search by Competition Name</h5>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" placeholder="Search by..." class="form-control pull-left" ng-model="search.query">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ search.searchby ? search.searchby : "Search By"}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href ng-click="search.searchby = 'Competition'">Competition Name</a></li>
                      <li><a href ng-click="search.searchby = 'Participant'">Participants</a></li>
                    </ul>
                    <button class="btn btn-default" ng-click="getJoinableCompetitions(search)" ng-disabled="!search.searchby || !search.query">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="joinable.length">
        <div class="col-sm-3">
            <h5 class="bold">Competition Name</h5>
        </div>
        <div class="col-sm-3 bold">End Date</div>
        <div class="col-sm-offset-3 col-sm-3 bold"></div>
    </div>
    <join-competition joinable="item" sending="sending" ng-repeat="item in joinable"></join-competition>

</div>
<div class="modal-footer">
    <img src="../images/heart.gif" alt="" height="50" width="50" ng-show="sending">
    <button class="btn btn-danger" ng-click="close()">Close</button>
</div>