<div class="center-block">
    <h1 class="hidden-xs app-title h1">
        Biggest Fattest Losers
        <div class="pull-right h2 dropdown">
            <span class="glyphicon glyphicon-scale dropdown-toggle cursor-pointer" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"><span class="badge request-badge" ng-show="requests.length">{{ requests.length }}</span></span>
            <ul class="request-dropdown dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="item in requests" style="margin-bottom: 15px !important;">
                    <competition-request request="item"></competition-request>
                </li>
                <div class="text-center" ng-show="!requests.length">
                    You currently don't have any competition join requests
                </div>
            </ul>
        </div>
    </h1>
    <div class="alert alert-info" ng-show="register_alert_success">{{ register_alert }}</div>
    <div class="alert alert-danger" ng-show="register_alert_failure">{{ register_alert }}</div>
</div>
<div class="panel panel-default landing-panel box-shadow" ng-class="{'top-spacer': screenType === 'Desktop'}">
    <div class="panel-body" ng-show="!competitions">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="h5 text-center">You don't have any competitions, start or join one to begin.</h5>
            </div>
        </div>
        <div class="row top-spacer">
            <div class="col-xs-offset-3 col-xs-9 col-md-offset-4 col-md-8">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default" ng-click="openStartModal()">Start Competition</button>
                    <button class="btn btn-default">Join Competition</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-show="competitions">
        <div class="col-xs-12">
            <div ng-include="'templates/competitionsummary.html'"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="startCompetitionModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create New Competition</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <label for="competition-name">Competition's Name</label>
                <input type="text" class="form-control" id="competition-name" placeholder="Name of Competition" ng-model="competition.title">
            </div>
            <div class="col-sm-6">
                <label for="competition-end">End Date</label>
                <div class="input-group">
                    <input id="competition-end" type="text" ng-model="competition.end_date" uib-datepicker-popup
                           close-text="Close" class="form-control" aria-describedby="calender-addon" is-open="dateOpen"/>
                <span class="input-group-btn" id="calender-addon">
                    <button type="button" class="btn btn-default" ng-click="dateOpen = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </div>
            </div>
        </div>
        <div class="row top-spacer" ng-show="userList">

            <!-- /.col-sm-12 -->
            <div class="col-sm-12">
                <div class="input-group">
                    <input id="add-participants" ng-model="searchText" type="text" class="form-control" placeholder="Search for User...">
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12" ng-hide="!searchText || !(userList | filter:searchText).length">
                <label>User List</label>
                <div class="panel panel-default browse-user-panel">
                    <div class="panel-body">
                        <div class="row participant-row cursor-pointer" ng-repeat="user in userList | filter:searchText | limitTo: 3"
                             ng-click="addUser(user, $index)"
                             ng-class="{'top-spacer-soft': !$first, 'bottom-spacer': $last}">
                            <hr ng-show="!$first">
                            <div class="col-xs-1"><span class="glyphicon glyphicon-user"></span></div>
                            <div class="col-xs-8"><span>{{user.username}}</span></div>
                            <div class="col-xs-3"><span>Weight: {{user.weight}}</span></div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel panel-default -->
            </div>


        </div>
        <div class="row top-spacer">
            <div class="col-xs-12">
                <label>Participants to Add</label>
                <div class="panel panel-default browse-user-panel">
                    <div class="panel-body">
                        <h5 class="text-center text-info" ng-show="participants.length == 0">Please add at least 2 participants to begin.</h5>
                        <div class="row participant-row" ng-repeat="user in participants track by $index" ng-class="{'top-spacer-soft': !$first, 'bottom-spacer': $last}">
                            <hr ng-show="!$first">
                            <div class="col-xs-1"><span class="glyphicon glyphicon-user"></span></div>
                            <div class="col-xs-10"><span>{{user.username}}</span></div>
                            <div class="col-xs-1" ng-click="participants.splice($index, 1); userList.push(user)"><span class="glyphicon glyphicon-remove-circle cursor-pointer"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>
    </div>
    <div class="modal-footer top-spacer">
        <img src="images/heart.gif" ng-show="loading" class="loading-icon">
        <button class="btn btn-primary" type="button" ng-click="StartCompetition(competition)">Start Competition</button>
        <button class="btn btn-danger" type="button" ng-click="close()">Cancel</button>
    </div>
</script>


