<div class="col-sm-12">
    <h3 class="app-title h3">Biggest Fattest Losers</h3>
    <div class="panel panel-default top-spacer box-shadow">
        <div class="panel-body login-outer-panel">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="panel panel-default panel-rounded box-shadow">
                    <div class="panel-body">
                        <div class="panel panel-default panel-rounded center-block login-panel-width"
                             style="background-color: #D8D8D8">
                            <div class="panel-body" >
                                <h3 class="login-clock-font">LOGIN</h3>
                            </div>
                        </div>
                        <div class="hidden-md hidden-lg login-form">
                            <label>
                                Username
                                <input type="text" class="form-control"
                                       ng-model="user_info.username"
                                       placeholder="Enter your username">
                            </label>
                            <label>
                                Password
                                <input type="password" class="form-control"
                                       ng-model="user_info.password"
                                       placeholder="Enter your password">
                            </label>
                        </div>
                        <div class="hidden-xs hidden-sm">
                            <label class="center-block login-input-width">
                                Username
                                <input type="text" class="form-control"
                                       ng-model="user_info.username"
                                       placeholder="Enter your username">
                            </label>
                            <label class="center-block login-input-width">
                                Password
                                <input type="password" class="form-control"
                                       ng-model="user_info.password"
                                       ng-enter="login(user_info)"
                                       placeholder="Enter your password">
                            </label>
                            <label class="center-block login-input-width">
                                <div class="alert alert-danger" ng-show="login_error">{{ login_error }}</div>
                            </label>
                        </div>

                        <div class="btn btn-info btn-block login-input-width center-block top-spacer"
                             ng-click="login(user_info)"
                             ng-show="user_info.username && user_info.password">Login</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="h3 text-center">Not a member yet? Sign up today!</div>
        <hr>

        <div  class="col-xs-12 col-lg-offset-2 col-lg-8"
              ng-show="showRegisterForm"
              ng-controller="RegisterCtrl"
              ng-include="'templates/register.html'">
        </div>

        <div class="col-xs-12">
            <button ng-click="showRegisterForm = true"
                    ng-show="!showRegisterForm"
                    class="center-block btn btn-success btn-block top-spacer btn-fit-to-form">
                REGISTER
            </button>

        </div>

    </div>
</div>



