<div class="user-thumbnail">
    <div ng-show="!user.avatar">
        <ng-letter-avatar data="{{ user.firstName }}"></ng-letter-avatar>
    </div>
    <img ng-show="user.avatar" height="50" width="50" ng-src="{{ user.avatar }}">
    <h5 class="bold truncate">{{ user.username }}</h5>
</div>
