<form ng-show="showRegisterForm" class="registerForm" name="registerForm">
    <div class="col-xs-6">
        <h4>Username</h4>
        <div ng-class="{'has-error': registerForm.registerlogininput.$touched && !register_info.username,
                    'has_success' : registerForm.registerlogininput.$touched && register_info.username }">
            <input type="text" name="registerlogininput"
                   class="form-control" ng-model="register_info.username">
        </div>

    </div>
    <div class="col-xs-6">
        <h4>Password</h4>
        <div ng-class="{'has-error': (registerForm.registerpasswordinput.$touched && !register_info.username)
                     || registerForm.registerpasswordinput.$invalid || register_info.password !== register_info.verifyPassword,
                     'has-success': register_info.password === register_info.verifyPassword }">
            <input type="password" id="registerpasswordinput" ng-minlength="6"
                   class="form-control" ng-model="register_info.password">
        </div>
    </div>
    <div class="col-xs-6">
        <h4 class="truncate">Verify Password</h4>
        <div ng-class="{'has-error': (registerForm.registerverifypasswordinput.$touched && !register_info.username) ||
                    register_info.password !== register_info.verifyPassword, 'has-success': register_info.password === register_info.verifyPassword }">
            <input type="password" id="registerverifypasswordinput"
                   class="form-control" ng-model="register_info.verifyPassword">
        </div>

    </div>

    <div class="col-xs-6">
        <h4>First Name</h4>
        <div ng-class="{'has-error': registerForm.registername.$touched && !register_info.firstName,
                    'has-success': register_info.firstName }">
            <input type="text" id="registername"
                   class="form-control" ng-model="register_info.firstName">
        </div>
    </div>

    <div class="col-xs-6">
        <h4>Last Name</h4>
        <div ng-class="{'has-error': registerForm.registerlastName.$touched && !register_info.lastName,
                    'has-success': register_info.lastName }">
            <input type="text" id="registerlastName"
                   class="form-control" ng-model="register_info.lastName">
        </div>
    </div>

    <div class="col-xs-6">
        <h4>Weight</h4>
        <div ng-class="{'has-error': registerForm.registerweight.$touched && !register_info.weight,
                    'has-success': register_info.weight }">
            <input type="number" id="registerweight"
                   class="form-control" ng-model="register_info.weight">
        </div>

    </div>
    <div class="col-xs-12">
        <h4>Add A Photo</h4>
        <div class="col-xs-4">
            <input type="file" ngf-select="onUploadSelect($file)" ng-model="register_info.newUpload" class="form-control">

            <!--<input uploadcare-widget
                   ng-model="register_info.avatar"
                   data-public-key="OIJAKLjlkdjoiflkkOJDOIFJLKjd"
                   data-images-only
                   data-multiple="false"
                   data-crop="300:250">
                   -->
        </div>
    </div>

</form>

<div class="col-xs-12">
    <button ng-click="register(register_info)"
            ng-disabled="!formValidate(register_info) || uploadInProgress"
            class="center-block btn btn-success btn-block top-spacer">
        REGISTER
    </button>
    <div class="top-spacer">
        <div class="alert alert-info" ng-show="register_alert_success">{{ register_alert }}</div>
        <div class="alert alert-danger" ng-show="register_alert_failure">{{ register_alert }}</div>
    </div>
</div>