<div class="row">
    <div ui-view="header"></div>
</div>
<div class="row">
    <div ui-view="sidebar"></div>
    <div class='col-xs-12 col-sm-8 col-sm-offset-4 col-md-offset-3 col-md-9 col-lg-9'>
        <div ui-view="content"></div>
    </div>
</div>

