<div class="hidden-xs col-sm-3 col-md-3 col-lg-3 sidebar-menu" style="background-color: #203042">
    <div class="profile-section no-margin" ng-controller="profileSidebarCtrl">
        <div ng-show="!user.avatar">
            <ng-letter-avatar ng-show="!user.avatar" data="You" shape="round" height="200" width="200" charCount="3" fontSize="75"></ng-letter-avatar>
        </div>
        <img ng-show="user.avatar" class="user-avatar" ng-src="{{ user.avatar }}" alt="User" height="200" width="200">
        <h3>Welcome {{ user.fullName }}</h3>
        <h4>Weight: {{ user.weight }}</h4>
        <h4>Open Competitions: 2</h4>
        <h4>Rank: 251</h4>
        <!-- ../../app/images/{{ user.image }} -->
        <hr>

        <button class="btn btn-default" ng-click="openStartModal()"><b>Start Competition</b></button>
        <button class="btn btn-default" ng-click="openJoinModal()"><b>Join Competition</b></button>

        <button class="btn btn-default btn-block logout-btn top-spacer" ng-click="logout()"><b>Logout</b></button>
    </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
    <nav class="navbar navbar-default mobile-navbar-margin">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand app-title" ng-class="{'mobile-title-text': screenType === 'Mobile'}">Biggest Fattest Losers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="top-spacer col-xs-12">
                    <div ng-show="!user.avatar">
                        <ng-letter-avatar data="You" shape="round" height="200" width="200" charCount="3" fontSize="75"></ng-letter-avatar>
                    </div>
                    <img ng-show="user.avatar" class="user-avatar" ng-src="{{ user.avatar }}" height="200" width="200" alt="User">
                    <h3>Welcome {{ user.name }}</h3>
                    <h4>Weight: {{ user.weight }}</h4>
                    <h4>Open Competitions: 2</h4>
                    <h4>Rank: 251</h4>
                    <!-- ../../app/images/{{ user.image }} -->
                    <hr>
                    <br>
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-default" ng-click="openStartModal()"><b>Start New Competition</b></a>
                        <a class="btn btn-default"><b>Join Competition</b></a>
                    </div>
                    <button class="btn btn-default btn-block logout-btn top-spacer bottom-spacer" ng-click="logout()"><b>Logout</b></button>
                </div>



            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


