<div class="modal-header">
    <h4>
        Weigh In
        <div class="pull-right" ng-show="readonly">
            <span class="glyphicon glyphicon-pencil cursor-pointer" ng-click="edit()"></span>
            <span class="glyphicon glyphicon-trash text-danger cursor-pointer" ng-click="showDeleteAlert = true"></span>
        </div>
    </h4>
    <div class="alert alert-danger" ng-show="showDeleteAlert">Are you sure you want to delete this weighin?
        <div class="pull-right">
            <span class="glyphicon glyphicon-ok cursor-pointer" ng-click="delete()"></span>
            <span class="glyphicon glyphicon-remove cursor-pointer" ng-click="showDeleteAlert = false"></span>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6" ng-hide="readonly">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ selectedUser ? selectedUser.fullName : 'Select a user to start'}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="user in users"
                                ng-click="setUser(user)">
                                <a href>{{ user.fullName ? user.fullName : user.firstName }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 top-spacer">
                    <weigh-in ng-show="selectedUser" user="selectedUser"></weigh-in>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4 class="h4 bold" ng-show="usersready.length">Users weighed in</h4>
                <hr ng-if="usersready.length" class="hidden-sm hidden-md hidden-lg">
                <div class="row top-spacer" ng-repeat="item in usersready">
                    <div class="col-xs-6">{{ item.firstName }}</div>
                    <div ng-class="{'col-xs-2': !readonly, 'col-xs-offset-4 col-xs-2': readonly}">
                        {{ item.newWeight == 0 ? 'TBD' : item.newWeight }}
                    </div>
                    <div class="col-xs-1" ng-hide="readonly || (!isOwner && item._id !== currentUser._id)">
                        <span class="glyphicon glyphicon-remove-circle" ng-click="users.push(item);usersready.splice($index, 1)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <img src="../images/heart.gif" alt="" height="50" ng-show="loading">
    <div class="btn btn-default"
         ng-class="{'btn-default': users.length, 'btn-success': !users.length}"
         ng-hide="readonly"
         ng-disabled="users.length && !selectedUser.newWeight"
         ng-click="selectedUser.newWeight ? add(selectedUser)
            : users.length ? null : finish()">
        {{ users.length ? 'Add' : 'Finish' }}
    </div>
    <div class="btn btn-danger" ng-click="close()">Close</div>
</div>