<div class="weighin-panel">
    <div class="col-xs-12 top-spacer-soft">
        <div ng-show="!user.avatar">
            <ng-letter-avatar data="Default" height="75" width="75"></ng-letter-avatar>
        </div>
        <img ng-show="user.avatar" ng-src="{{ user.avatar }}" alt="" height="75" width="75">
        <h4>{{ user.fullName ? user.fullName : user.firstName }}</h4>
        <label>Old Weight: {{ user.weight }}</label>
        <div class="input-group">
            <input type="number" class="form-control"
                   placeholder="New Weight" min="1"
                   ng-model="user.newWeight" ng-enter="saveWeight(user)">
            <span class="input-group-btn">
                <button class="btn btn-success" ng-disabled="!user.newWeight" ng-click="saveWeight(user)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-disabled="user.newWeight" ng-click="user.newWeight = 'TBD';saveWeight(user)">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </span>
        </div>

    </div>
</div>